body {
  background-color: #000000 !important;
  color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-track {
  background: #1a1a1a;
}
::-webkit-scrollbar-thumb {
  background: #e3b324;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: #c99a18;
}
